<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}


    {% block content %}
    <div class="jumbotron jumbotron-fluid pt-5 pb-3 bg-success">
    {% if user.is_authenticated %}
      <h1 class="text-white">Welcome to TradeIt, {{ user.username }}!</h1>
    </div>
    <div class="col-md-12 ml-4 mt-4">

    <ul>
        <li>
            <a href="{% url 'profile' %}">Profile</a>
        </li>
        <li>
            <a href="{% url 'index' %}">Sample Offers</a>
        </li>
        <li>
            <a href="{% url 'offer_list' %}">Api JSON</a>
        </li>
    </ul>

    {% else %}
    <div class="col-md-8 mr-5 pb-5">
          <p>You are not logged in</p>
          <button class="btn btn-light rounded shadow">
              <a href="{% url 'login' %}">LOGIN</a>
            </button>
    </div>
    {% endif %}




    </div>
    {% endblock %}
