<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}


    {% block content %}
    <div class="jumbotron jumbotron-fluid pt-5 pb-3 bg-success">
        <div class="row">
                <div class="col-md-10">
                    <div class="col-md-5 pl-5 text-light">

                        <h1>This4That</h1>
                        <h3> <em>Value Uncoupled From Currency</em></h3>
                        <p>
                            View offers and request barter!
                    </div>

                    <p>.
                    </p>
                </div>
            </div>
    {% if user.is_authenticated %}
        <div class="col-md-12">
              <h3 class="text-dark ml-4">
                  Welcome to This4That, {{ user.username }}!  <a href="{% url 'new_offer' %}" class="btn btn-warning text-large shadow rounded">
                      Create a NEW OFFER
                  </a>
              </h3>
        </div>
    </div>
    <div class="col-md-12 ml-4 mt-4">

    <ul>
        <li>
            <a href="{% url 'profile' %}">Profile</a>
        </li>
        <li>
            <a href="{% url 'index' %}">Offers</a>
        </li>
        <li>
            <a href="{% url 'new_offer' %}">Create a New Offer</a>
        </li>
        <li>
            <a href="{% url 'offer_list' %}">Api JSON</a>
        </li>
    </ul>

    {% else %}
    <div class="col-md-12 pt-5 mr-5 pl-5 pb-5 bg-light">
    <p>
        Sign up for a new account and get a
        <font size="+2" class="text-success">TEN TOKEN</font>
        <em>starter bonus!</em>

    <button class="btn btn-warning primary rounded shadow text-dark ml-3">
        <strong>SIGN UP</strong>
    </button><br>
          <p class="mt-5">You are not logged in.
          <button class="btn btn-success rounded shadow ml-3">
              <a href="{% url 'login' %}" class="text-light"><strong>LOGIN</strong></a>
            </button></p>
    </div>
    {% endif %}

    <!-- Begin Benifits -->
        <div class="container mb-5 mt-5 pb-5 pt-5">
          <div class="row">
            <div class="col-lg-4">
              <h4>Save Money</h4>
              <p class="lead">Why pay for something you don't need to pay for? With this amazing app, you don't have to! Then you can put the money you would have spent on a product or service, into savings for that vacation you've dreamed of.
                  <!-- <br><a href="https://www.scaledagileframework.com">SAFe</a> -->
              </p>
            </div>
            <div class="col-lg-4">
              <h4>Local Engagement</h4>
              <p class="lead">Network within your community for both value and friendship. Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Aliquam faucibus purus in massa tempor nec feugiat nisl pretium. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
                  <!-- <br><a href="https://www.merriam-webster.com/dictionary/healthy">Mirriam-Webster</a> -->
              </p>
            </div>
            <div class="col-lg-4">
              <h4>Reduce, Re-Use, Recycle</h4>
              <p class="lead">Live greener by generating less waste. tempor incididunt ut labore et dolore magna aliqua. Condimentum lacinia eros odio. dolor magna eget est lorem ipsum dolor.
                  <!-- <br><a href="http://ournameisfun.com">Fun.</a> -->
              </p>
            </div>
          </div>
        </div>
        <!-- End Benifits -->
        <div class="container col-md-10">
    <!-- Info Section Start-->
    <div class="bg-warning text-dark pt-5 pb-5 pr-5 pl-5 mb-5 rounded shadow border-primary">
        <h4>What are T4T TOKENS?</h4>
        <p>
            Tokens are a way of counting value when return offers aren't
            satisfactory. Each user is given a default number of tokens at
            registration. Additional tokens may be requested and will require
            the payment of a service fee. This is to discourage their use, since
            <em>This4That</em> is intended primarily as a barter app.
        <p>
            <button class="btn-success float-right" onclick="devNotice()">Buy Additional Tokens</button>
            <script>
            function devNotice() {
              alert("This4That thanks you for your patience while this feature is being developed.");
            }
            </script>
        </p>
    </div>
    <!-- Info Section End -->


    </div>
    {% endblock %}
