{% extends 'base.html' %}

What up?
{% block content %}
<div class="col-md-11 pt-5 ml-5 pl-5">
<h2> Add New Offer </h2>
    <div class="col-md-8 pb-5">
        <form action='/new_offer/' method='post'>
            {% csrf_token %}
            <!-- {{ form }} -->
            {% for field in form %}
                {{ field.label_tag }}<br />
                {{ field }}<br /><br />
            {% endfor %}
            <input action="POST" type='submit' value='Submit' class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}
