{% extends 'base.html' %}

You've reached the offer detail page
{% block content %}
    <div class="col-md-12 mt-5 ml-5">
        <div class="row">
            <div class="col-md-7 mr-5">
            <h2>{{ page.offer_title }}</h2>

            <p>
            {{ page.offer_description }}

            <p>
                <strong>Tokens Requested:</strong> {{ page.tokens_requested }}
                <p>
                    <button class="btn btn-success rounded shadow">Request Offer</button>
            </p>
            </div>
            <div class="col-md-3 float-right bg-warning pt-5 pb-5">
                <h4>Suggested Offers</h4>
                    <ul class="text-white">
                        <li>offer one</li>
                        <li>offer two</li>
                        <li>offer three</li>
                        <li>offer four</li>
                    </ul>
            </div>
        </div>
    </div>


{% endblock %}
