{% extends 'base.html' %}

{% block content %}
<div class="col-md-12 pt-5">
    <h1>Profile Page</h1>
        <div class="mb-5 mt-3">
            <h3>Details</h3>
            <p>
    User Name: <em>{{ user.username }}</em><br>
    First Name: <em>{{ user.first_name }}</em><br>
    Last Name: <em>{{ user.last_name }}</em><br>
    Email: <em>{{ user.email }}</em><br>
    <!-- # user.profile.bio -->
            </p>
        </div>
    <button class="btn btn-danger rounded shadow" onclick="devNotice()">
        EDIT
    </button>
    <script>
    function devNotice() {
      alert("TradeIt thanks you for your patience while this feature is being developed.");
    }
    </script>
</div>
{% endblock %}
