{% extends 'base.html' %}

{% block content %}
<div class="col-md-12 pt-5">
    <h1>Profile Page</h1>
        <div class="mb-5 mt-3">
            <h3>Details</h3>
            <p>
    User Name: <em>{{ user.username }}</em><br>
    First Name: <em>{{ user.first_name }}</em><br>
    Last Name: <em>{{ user.last_name }}</em><br>
    Email: <em>{{ user.email }}</em><br>
    Location: <em>{{ user.profile.location }}</em><br>
            </p>
        </div>

        <a href="/this4that/update_profile" class="btn btn-danger rounded shadow">
            EDIT
        </a>

</div>
{% endblock %}
