.jumbotron{
 background-image: url("handlights.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 /* opacity: 0.2; */
}
h1 {
    font-family: 'Merriweather', serif;
}
#nav_brand {
    font-family: 'Merriweather', serif;
}
